<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TJRequestDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA6294AA1E5D4D0F009C1DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6294C31E5D4D0F009C1DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6294CE1E5D4D0F009C1DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
